<div class="container" *ngIf="!(loading$|async)" >
  <table mat-table [dataSource]="invitations$ | async">
    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'invite.host' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.nerd.name}}</td>
    </ng-container>
    <ng-container  matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>{{'invite.date' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.eventstart | date:'dd-MM-yy'}}</td>
    </ng-container>
    <ng-container  matColumnDef="homeFrom">
      <th mat-header-cell *matHeaderCellDef>{{'invite.homefrom' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.eventstart | date:'HH:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="statistics">
      <th mat-header-cell *matHeaderCellDef>{{'invite.statistics' | translate}}</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetail(row)"></tr>
  </table>
</div>

<ian-spinner [isLoading]="loading$|async" infotext="{{'invite.fetchinginvites' | translate}}"></ian-spinner>