<h1 mat-dialog-title>{{'confirm'}}</h1>
<mat-dialog-content>
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" [mat-dialog-close]="false">{{'button.cancel' | translate}}</button>
  <button class="mat-raised-button" [mat-dialog-close]="true">{{'button.ok' | translate}}</button>
</mat-dialog-actions>


