@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

@import 'styles-reset.scss-theme';
@import './app/app/app.component.scss-theme';
@import './app/features/about/about/about.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include ian-styles-reset-theme($theme);
  @include ian-app-component-theme($theme);
  @include ian-about-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($ian-theme);
  @include custom-components-theme($ian-theme);
}

.light-theme {
  @include angular-material-theme($ian-light-theme);
  @include custom-components-theme($ian-light-theme);
}

.black-theme {
  @include angular-material-theme($ian-black-theme);
  @include custom-components-theme($ian-black-theme);
}

.nature-theme {
  @include angular-material-theme($ian-nature-theme);
  @include custom-components-theme($ian-nature-theme);
}
