@import '../../../../../styles-variables.scss';

table {
  width: 100%;
}

td {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-column-name {
  max-width: 140px;
  width: 30%;
}
.mat-column-phone {
  width: 15%;
  max-width: 75px;
  min-width: 75px;
}

.mat-column-pizza {
  width: 30%;
}
.mat-column-action {
  min-width: 125px;
  width: 5%;
  text-align: right;
}

.spacer {
  display: inline-block;
  width: 40px;
  margin: 0;
  padding: 0;
}

.afstemning {
  min-width: 85px;
}

.nerd-row:not(.nerd-expanded-row):hover {
  background: #f5f5f5;
}
.nerd-row:not(.nerd-expanded-row):active {
  background: #efefef;
}

.nerd-detail-row {
  height: 0;
  margin: 10px;
}
.nerddetails {
  width: 100%;
}
.mat-column-expandedDetail {
  height: 100px;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .detailscard {
    padding-right: 0px;
    padding-left: 0px;
  }
}

mat-spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
