<table mat-table #table [dataSource]="(answers$ | async)" matSort>
  <ng-container  matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'invite.nerd' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.nerd">
          {{element.nerd.name}}
      </span>
      <span *ngIf="!element.nerd">
        <fa-icon icon="arrow-right"></fa-icon>&nbsp;{{element.name}}
      </span>
    </td>
  </ng-container>
  <ng-container  matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>{{'phone' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.nerd">
        {{element.nerd.phone}}
      </span>
      <span *ngIf="!element.nerd">
        Gæst
      </span>
    </td>
  </ng-container>
  <ng-container  matColumnDef="pizza">
      <th mat-header-cell *matHeaderCellDef>{{'invite.pizza' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="accepted(element)">
          <span *ngIf="invite.restaurant && !element.noeating" title="{{element.eatingno}}">{{element.eatingno}}</span>
          <span *ngIf="invite.restaurant && !element.noeating && element.eatingno ===''"><fa-icon icon="exclamation-triangle"></fa-icon>{{'invite.noorder' | translate}}</span>
          <span *ngIf="!invite.restaurant && !element.noeating">{{'invite.eathostsfood' | translate}}</span>
          <span *ngIf="element.noeating">{{'invite.noeat' | translate}}</span>
        </ng-container>
      </td>
  </ng-container>
  <ng-container matColumnDef="afstemning">
    <th mat-header-cell *matHeaderCellDef>{{'invite.accounting' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="accepted(element)">
        <span *ngIf="!element.noeating && !element.haspaid">{{element.price}}</span>
        <span *ngIf="!element.noeating && element.haspaid">{{'invite.paid' | translate}}</span>
        <span *ngIf="element.noeating">{{'invite.noeat' | translate}}</span>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  [class.afstemning]="afstemning$ | async">{{'invite.actions' | translate }}</th>
    <td mat-cell *matCellDef="let element"  [class.afstemning]="afstemning$ | async">
      <ng-container *ngIf="!(afstemning$ | async)">
        <button mat-mini-fab [disabled]="accepted(element) || !(invite.editable)" *ngIf="!accepted(element)" color="accent" (click)="accept(element)">
          <fa-layers>
              <fa-icon icon="check" transform="shrink-2 up-8"></fa-icon>
              <fa-layers-text content="DELTAG" transform="shrink-7 down-7"></fa-layers-text>
          </fa-layers>
        </button>
        <button mat-mini-fab (click)="pizzaOrderUpdate(element)" *ngIf="accepted(element)" [disabled]="!accepted(element) || !(invite.editable)"  matTooltip="{{'invite.editpizza' | translate}}">
            <fa-layers>
              <fa-icon icon="pizza-slice" transform="shrink-2 up-8"></fa-icon>
              <fa-layers-text content="BESTIL" transform="shrink-7 down-7"></fa-layers-text>
            </fa-layers>
        </button>
        <button mat-mini-fab *ngIf="isNerd(element)" [disabled]="declined(element) || !(invite.editable)" color="warn" (click)="decline(element)">
          <fa-layers>
            <fa-icon icon="times" transform="shrink-2 up-8"></fa-icon>
            <fa-layers-text content="AFBUD" transform="shrink-7 down-7"></fa-layers-text>
          </fa-layers>
        </button>
        <button mat-mini-fab *ngIf="!isNerd(element)" color="warn" (click)="deleteGuest(element)">
          <fa-layers>
            <fa-icon icon="trash" transform="shrink-2 up-8"></fa-icon>
            <fa-layers-text content="SLET" transform="shrink-7 down-7"></fa-layers-text>
          </fa-layers>
        </button>
      </ng-container>
      <button mat-mini-fab *ngIf="accepted(element) && (afstemning$ | async)" (click)="paid(element)" [color]="nerdHasPaidCheck(element)"><fa-icon icon="check"></fa-icon></button>
      <button mat-mini-fab *ngIf="element.nerd" (click)="expand(element)">
        <fa-icon icon="ellipsis-h" *ngIf="expandedElement!==element"></fa-icon>
        <fa-icon icon="ellipsis-v" *ngIf="expandedElement===element"></fa-icon>
      </button>
      <div class="spacer" *ngIf="!element.nerd"></div>
    </td>
  </ng-container>
  <!-- Expanded row -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let detail" colspan="4" class="detailscard">
      <ian-communication [nerd]="detail.element.nerd" *ngIf="detail.element.nerd">
          <button mat-mini-fab (click)="addGuest(detail.element)" [disabled]="!(invite.editable) || !accepted(detail.element)" matTooltip="{{'invite.addguest' | translate}}">
            <fa-layers>
              <fa-icon icon="user-plus" transform="shrink-4 up-9"></fa-icon>
              <fa-layers-text content="GÆST" transform="shrink-5 down-7"></fa-layers-text>
            </fa-layers>
          </button>
          <button mat-mini-fab (click)="mobilepay(detail.element)" [disabled]="!(invite.editable) || !(accepted(detail.element))" matTooltip="{{'invite.paidforpizza' | translate}}">
            <fa-layers>
              <fa-icon icon="credit-card" transform="shrink-2 up-8"></fa-icon>
              <fa-layers-text content="MP" transform="shrink-5 down-7"></fa-layers-text>
            </fa-layers>
          </button>
        </ian-communication>
    </td>
  </ng-container>          
  <!-- rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    [class.nerd-expanded-row]="expandedElement == row"
    class="nerd-row">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="nerd-detail-row"
    [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
    style="overflow:hidden"> 
</tr>
</table>
