<h1 mat-dialog-title *ngIf="answer$ | async as answer">Pizza bestilling for {{answer?.nerd?.name || answer?.name}}</h1>
<mat-dialog-content [formGroup]="pizzaForm" *ngIf="invite$ | async as invite"> 
  <a *ngIf="invite.restaurant" href="{{invite.restaurant.link}}" target="_blank"><fa-icon icon="pizza-slice"></fa-icon> Menukort (åbner i nyt vindue)</a>
  <ng-container *ngIf="!invite.restaurant">
    {{'invite.hostcooks' | translate}}
  </ng-container>
  <br/>
  <mat-slide-toggle formControlName="noeating">
      <span *ngIf="pizzaForm.value.noeating">{{'invite.noeat' | translate}}</span>
      <span *ngIf="!pizzaForm.value.noeating">{{'invite.eating' | translate}}</span>
  </mat-slide-toggle>
  <ng-container *ngIf="(invite$ | async).restaurant">
    <mat-form-field>
      <input matInput placeholder="Pizza" formControlName="eatingno" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let pizza of filteredPizza$ | async" [value]="pizza">
          <span>{{pizza}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error>Pizza ikke angivet</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Toppings" formControlName="topping" multiple>
        <mat-option *ngFor="let topping of topping$ | async" [value]="topping.id">{{topping.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Pris" formControlName="price" type="number">
      <mat-error>Pris ikke angivet</mat-error>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'button.cancel' | translate}}</button>
  <button mat-button (click)="save()" [disabled]="!pizzaForm.valid">{{'button.ok' | translate}}</button>
</mat-dialog-actions>
