<div class="row" *ngIf="counters$ | async as counters">
  <div class="col-12">
      <ian-count-table [counts]="counters.stats" title="Statistik"></ian-count-table>
  </div>
  <div class="col-12">
    <ian-count-table [counts]="counters.pizza" title="Pizza liste"></ian-count-table>
  </div>
</div>
