<mat-card>
  <mat-card-content>
    <div class="row buttonrow">
      <div class="col">
        <button mat-mini-fab (click)="afstemning()" matTooltip="{{'invite.accounting'| translate}}">
          <fa-layers *ngIf="(afstemning$ | async)">
            <fa-icon icon="pizza-slice" transform="shrink-1 up-8"></fa-icon>
            <fa-layers-text content="BESTIL" transform="shrink-6 down-8"></fa-layers-text>
          </fa-layers>
          <fa-layers *ngIf="!(afstemning$ | async)">
            <fa-icon icon="dollar-sign" transform="shrink-1 up-8"></fa-icon>
            <fa-layers-text content="REGNSKAB" transform="shrink-9 down-8"></fa-layers-text>
          </fa-layers>
        </button>
      </div>
      <div class="col">
        <button mat-mini-fab [disabled]="!(invite$ | async).editable" (click)="edit()" aria-label="Edit invite"><fa-icon icon="edit" matTooltip="{{'invite.edit' | translate}}"></fa-icon></button>
      </div>
      <div class="col">
        <button mat-mini-fab [disabled]="!(invite$ | async).editable" (click)="delete()" aria-label="Delete invite"><fa-icon icon="trash" matTooltip="{{'invite.delete' | translate}}"></fa-icon></button>
      </div>
      <div class="col">
        <button mat-mini-fab (click)="hideNerds()" matTooltip="{{'invite.showall' | translate}}">
          <fa-layers>
            <fa-icon icon="user" transform="shrink-4 up-9"></fa-icon>
            <fa-layers-text content="ALLE" transform="shrink-6 down-7" *ngIf="!(activeNerds$ | async)"></fa-layers-text>
            <fa-layers-text content="AKTIVE" transform="shrink-6 down-7" *ngIf="(activeNerds$ | async)"></fa-layers-text>
          </fa-layers>
        </button>
      </div>
      <div class="col">
        <button mat-mini-fab (click)="reload()"><fa-icon icon="sync"></fa-icon></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
