<div class="container" *ngIf="nerd$ | async">
  <div class="row"><div class="col center">
    Nørde profil
  </div></div>
  <form [formGroup]="nerdForm" [ianConnectForm]="nerd$ | async" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Navn" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefon" formControlName="phone" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Website (optional)" formControlName="homepageurl">
        </mat-form-field>
        <mat-checkbox formControlName="suspended">{{'nerd.notactive' | translate}}</mat-checkbox><br/>
        <mat-checkbox formControlName="frontpage">{{'nerd.frontpage' | translate}}</mat-checkbox> <br/>
        <mat-checkbox formControlName="donoteatpizza">{{'nerd.donoteatpizza' | translate }}</mat-checkbox> 
      </div>
      <div class="col-md-6 photo" *ngIf="!editInPlace else edit">
        <div class="row">
          <div class="col">
            <img src="{{(nerd$ | async).image || 'assets/silhouette.png'}}" *ngIf="croppedImage !== '--'">
            <img src="assets/silhouette.png" *ngIf="croppedImage == '--'">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-raised-button (click)="newImage()" type="button">Nyt profil billede</button>
            <button mat-raised-button (click)="deleteImage()" type="button">Slet billede</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!nerdForm.valid">Gem profil</button>
      </div>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="row" *ngIf="nerd$ | async">
    <div class="col-12 center">
      Nørdesites for {{(nerd$ | async).name}} og pizzajoints nær disse
    </div>
  </div>
  <div class="row" *ngIf="nerd$ | async">
    <div class="col-md-6 smalldevice">
      <div class="row">
        <div class="col center">
          <button mat-raised-button (click)="addNerdSite()" type="button">{{'nerd.addnerdplace' | translate}}</button>
        </div>
      </div>
      <table mat-table #table [dataSource]="(nerdSites$ | async)" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{'nerd.nerdplace' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>{{'nerd.address' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.address}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="nerdsite(element)"><fa-icon icon="edit"></fa-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"
        [class.site-expired]="row.deleted == 1"
        (click)="showRestaurantsForNerdsite(row)"></tr>
      </table>
    </div>
    <div class="col-md-6 smalldevice">
        <div class="row">
          <div class="col center">
            <button mat-raised-button (click)="addRestaurant()" type="button">{{'nerd.addpizzaplace' | translate}}</button>
          </div>
        </div>
        <table mat-table #table [dataSource]="(restaurants$ | async)" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{'nerd.pizzaplace' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>{{'nerd.address' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.address}}</td>
          </ng-container>
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>{{'nerd.distance' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.distance | number:'1.2-2'}} km</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab (click)="restaurant(element)"><fa-icon icon="edit"></fa-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsRestaurant; sticky: false"></tr>
          <tr mat-row *matRowDef="let row; columns:displayedColumnsRestaurant;"
          [class.site-expired]="row.deleted == 1"></tr>
        </table>
      </div>
    </div>
</div>

<ng-template #edit>
  <div class="col-md-6 photoedit">
      <input type="file" (change)="fileChangeEvent($event)" />

      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="2/3"
          [resizeToWidth]="128"
          [cropperMinWidth]="128"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      
      <img src="{{croppedImage || ''}}" />
  </div>
</ng-template>
