@import '../../../../styles-variables.scss';

mat-form-field {
  width: 100%;
}

.center {
  text-align: center;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.site-expired {
  text-decoration: line-through;
}

td {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-name {
  max-width: 140px;
  width: 30%;
}

.mat-column-action {
  width: 70px;
  text-align: right;
}
.mat-column-distance {
  max-width: 30px;
  text-align: right;
}
@media (max-width: map-get($grid-breakpoints, md)) {
  .smalldevice {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
  }
}

.photo,
.photoedit {
  text-align: center;
}
