.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: block;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}
.spinnerinfo {
  display: block;
  text-align: center;
}
