$ian-primary: mat-palette($mat-indigo, 800, 300, 900);
$ian-accent: mat-palette($mat-light-blue);
$ian-warn: mat-palette($mat-pink, 600);

$ian-theme: mat-light-theme($ian-primary, $ian-accent, $ian-warn);
