$ian-light-primary: mat-palette($mat-grey, 200, 500, 300);
$ian-light-accent: mat-palette($mat-brown, 200);
$ian-light-warn: mat-palette($mat-deep-orange, 200);

$ian-light-theme: mat-light-theme(
  $ian-light-primary,
  $ian-light-accent,
  $ian-light-warn
);
