$ian-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$ian-nature-accent: mat-palette($mat-deep-purple, 300);
$ian-nature-warn: mat-palette($mat-red, 600);

$ian-nature-theme: mat-light-theme(
  $ian-nature-primary,
  $ian-nature-accent,
  $ian-nature-warn
);
