@import '../../../../styles-variables.scss';

table {
  width: 100%;
}

.suspended {
  text-decoration: line-through;
}
td {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-name {
  width: 30%;
}

.mat-column-action {
  width: 70px;
  text-align: right;
}

.mat-column-phone {
  width: 30%;
  min-width: 80px;
}

.mat-column-active {
  max-width: 21px;
  width: 5%;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mat-column-active {
    max-width: 10px;
  }
  .mat-column-action {
    max-width: 170px;
  }
  .mat-column-name {
    max-width: 170px;
  }
}
