<div class="container" *ngIf="!(loading$ | async)">
  <table mat-table [dataSource]="nerds$ | async">
    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'nerd' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container  matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Tlf</th>
      <td mat-cell *matCellDef="let element"><a href="tel:{{element.phone}}"><fa-icon icon="phone"></fa-icon>{{element.phone}}</a></td>
    </ng-container>
    <ng-container  matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"><a href="mailto:{{element.email}}"><fa-icon icon="envelope"></fa-icon>{{element.email}}</a></td>
    </ng-container>
    <ng-container  matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Aktiv</th>
      <td mat-cell *matCellDef="let element">{{element.suspended? 'Nej' : ''}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="isHandset$|async" href="tel:{{element.phone}}"><button mat-mini-fab><fa-icon icon="phone"></fa-icon></button></a>
        <a *ngIf="isHandset$|async" [href]="sms(element.phone)"><button mat-mini-fab><fa-icon icon="sms"></fa-icon></button></a>
        <button mat-mini-fab (click)="expand(element)"><fa-icon icon="ellipsis-h"></fa-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let detail" colspan="4" class="detailscard">
        <ian-communication [nerd]="detail.element">
          <button mat-mini-fab (click)="editNerd(detail.element)" matTooltip="Rediger nørd"><fa-icon icon="edit"></fa-icon></button>
        </ian-communication>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [class.nerd-expanded-row]="expandedElement == row"
    class="nerd-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" class="nerd-detail-row"
    [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
    style="overflow:hidden"> 
    </tr>
  </table>
</div>

<ian-spinner 
  [isLoading]="loading$ | async"
  infotext="Henter listen over nørder i skyen">
</ian-spinner>