<h1 mat-dialog-title>{{title | translate}}</h1>
<mat-dialog-content [formGroup]="nerdSiteForm">
  <mat-form-field>
    <input 
      type="text"
      matInput 
      placeholder="Adresse" 
      aria-label="Adresse" 
      [matAutocomplete]="auto" 
      formControlName="address"
    >
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="formatAddress"
    >
      <mat-option 
        *ngFor="let addressOption of filteredAddresses$ | async" 
        [value]="addressOption"
      >
        {{addressOption.tekst}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>Du skal angive en valid dansk adresse</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Kaldenavn" aria-label="kaldenavn" formControlName="name">
    <mat-error>Du skal angive et kaldenavn for nørdsitet</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="isRestaurant(address)">
    <input matInput placeholder="Telefon" aria-label="telefon" formControlName="phone">
  </mat-form-field>
  <mat-form-field *ngIf="isRestaurant(address)">
    <input matInput placeholder="Menukort" aria-label="menukort" formControlName="link">
  </mat-form-field>
  <mat-checkbox formControlName="deleted">Ikke mere adgang til adressen</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-button"  (click)="close()">{{'button.cancel' | translate}}</button>
  <button class="mat-button" (click)="save()" [disabled]="!nerdSiteForm.valid">{{'button.ok' | translate}}</button>
</mat-dialog-actions>
