<h1 mat-dialog-title>Tilføj gæst for {{data.nerd.name}}</h1>
<mat-dialog-content [formGroup]="guestForm"> 
  <mat-form-field>
    <input matInput placeholder="Gæstens navn" formControlName="name" cdkFocusInitial>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'button.cancel' | translate}}</button>
  <button mat-button (click)="save()" [disabled]="!guestForm.valid">{{'button.ok' | translate}}</button>
</mat-dialog-actions>
