<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="countDiv">
    <table mat-table [dataSource]="counts" *ngIf="counts">
      <ng-container matColumnDef="label">
        <td mat-cell *matCellDef="let data" matTooltip="{{data.label | translate}}">{{data.label | translate}}</td>
      </ng-container>
      <ng-container matColumnDef="count">
        <td mat-cell *matCellDef="let data">{{data.count}}</td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: definedColumns"></tr>
    </table>
  </div>
  </mat-card-content>
</mat-card>
