table {
  width: 100%;
}

td {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}
.countDiv {
  min-height: 200px;
  width: 100%;
  overflow: auto;
}

.mat-card {
  margin-top: 5px;
}

.mat-column-count {
  text-align: right;
}

.mat-column-label {
  width: 80%;
}
