<div class="background">
    <div class="gradient">
      <div class="container">
      <mat-card>
        <mat-card-content>
        
        
      <h1>{{ 'title.long' | translate }}</h1>
      <div class="get-started" [ngClass]="routeAnimationsElements">
      <p>Nerdclub.dk er en samling af elektronik, mekanik og software "nørder" der mødes med jævne mellemrum, for at spise pizza og nørde både med fælles, og egne, projekter.
      </p>
      <p>Vi har stortset alle rødder i det nordjyske elektronik eventyr, på en eller anden måde, eller er blevet inviteret med af en der har rødder i det.</p>
      <p>Det er for det meste egne projekter af en eller anden art vi arbejder på, projekterne spænder vidt fra 3D printere (og fræsere) til software udvikling, hjemmesider, til dykker udstyr</p>
      <p>Vi bruger hinandens færdigheder til at løse forskellige problemer vi render ind i. Der er næsten altid en anden nørd der har en ide til hvordan et givenst problem skal løses</p>
      </div>
    </mat-card-content>
  </mat-card>

    </div>
  </div>
</div>
<div class="container spacer">
  <mat-card>
  <mat-card-content>
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <h2>{{ 'about.members.title' | translate }}</h2>

    <div class="contributors-wrapper">

      <!-- ALL-CONTRIBUTORS-LIST:START -->
  <a *ngFor="let nerd of nerds$ | async" class="contributor" href="{{nerd.homepageurl || 'https://nerdclub.dk'}}" target="_blank">
    <img src="{{nerd.image || 'assets/silhouette.png'}}">
    <span>{{nerd.name}}</span>
  </a>

<!-- ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</mat-card-content>
</mat-card>
</div>
