<div class="container">
  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" *ngIf="!disabled else showwarning">
      <mat-vertical-stepper formArrayName="formArray" linear="true" #stepper>
        <ng-template matStepperIcon="edit">
          <fa-icon icon="check"></fa-icon>
        </ng-template>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>{{'invite.choose_host' | translate}} ({{formArray?.get('0.nerd').value.name}})</ng-template>
          <div class="row">
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Vært" aria-label="Vært" [matAutocomplete]="auto" formControlName="nerd">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let nerd of filteredNerds | async" [value]="nerd">
                  <span>{{nerd.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="col-md-6">
              Du skal starte med at vælge hvem der skal være vært for nørde arrangementet
            </div>
          </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>{{'invite.nerdplace' | translate}} ({{formArray?.get('1.nerdsite').value.name}})</ng-template> 
            <div class="row">
              <mat-form-field class="col-md-6">
                <mat-select formControlName="nerdsite" placeholder="Nerd site">
                  <mat-option *ngFor="let site of nerdSites$ | async" [value]="site">{{site.name}} - {{site.address}}</mat-option>
                </mat-select>
                <mat-error>Du skal vælge nørde sted</mat-error>
              </mat-form-field>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-12">
                Du skal nu vælge hvor nørd skal afholdes, der kan kun vælges stedder der er tilknyttet til den valgte vært. 
                Du kan også tilføje et nyt nørdested, der så vil blive tilknyttet den valgte nørd fra step 1.
                </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button mat-raised-button (click)="addNerdSite()" type="button">Tilføj ny nørdested</button>
                  </div>
                </div>
              </div>
            </div>
        </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel *ngIf="!formArray?.get('2.norestaurant').value">{{'invite.foodplace' | translate}} ({{formArray?.get('2.restaurant').value.name}})</ng-template> 
            <ng-template matStepLabel *ngIf="formArray?.get('2.norestaurant').value">{{'invite.foodplace' | translate}} ({{'invite.norestaurant' | translate}})</ng-template> 
            <div class="row">
            <mat-slide-toggle formControlName="norestaurant" class="col">
                <span *ngIf="formArray?.get('2.norestaurant').value">{{'invite.norestaurant' | translate}}</span>
                <span *ngIf="!formArray?.get('2.norestaurant').value">{{'invite.addrestaurant' | translate}}</span>
            </mat-slide-toggle>
          </div>
          <div class="row">
            <mat-form-field class="col-md-6">
              <mat-select formControlName="restaurant" placeholder="Pizza joint">
                <mat-option *ngFor="let site of restaurants$ | async" [value]="site">{{site.name}} - {{site.address}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  Vælg nu pizza steddet, du kan vælge mellem de pizzariaer der er inden for en radius af 10km fra det valgte nørdested, 
                  hvilket er {{formArray?.get('1.nerdsite').value.address}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <button mat-raised-button (click)="addRestaurant()" type="button" [disabled]="formArray?.get('2.norestaurant').value">Tilføj restaurant</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
            <ng-template matStepLabel>Detaljer</ng-template> 
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <mat-form-field class="col-sm-6">
                      <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Dato" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error>Vælg dato der ikke ligger i fortiden</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Tid" formControlName="homeFrom" type="time">
                    <mat-error>Du skal angive start tidspunkt</mat-error>
                  </mat-form-field>
                  <!--mat-form-field class="col-sm-4">
                    <input matInput placeholder="Værts bidrag" formControlName="contribution" type="number">
                    <mat-error>Angiv et bidrags beløb (kan være 0kr)</mat-error>
                  </mat-form-field-->
                </div>
                <div class="row">
                  <mat-form-field class="col-12">
                    <textarea matInput placeholder="Invitations text" formControlName="information" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10">
                    </textarea>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col">
                    Preview af invitations tekst:
                  </div>
                </div>
                <mat-divider> </mat-divider>
                <div class="row">
                  <markdown ngPreserveWhitespaces [data]="information" class="col-12 preview">
                    </markdown>
                </div>
              </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  Vælg nu meetup detaljer, som dato, tidspunkt og beskrivelse, du kan bruge markdown i beskrivelsen til formatering.
                  Se evt. mere på <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown-Cheatsheet</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <button mat-raised-button type="submit">færdig</button>
              </div>
            </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              </div>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
</div>

<ng-template #showwarning>
  Den valgte invitation er udløbet, og kan derfor ikke ændres
</ng-template>