<ian-detailed-view *ngIf="invite$ |async as invite; else noupcomming"></ian-detailed-view>
<ng-template #noupcomming>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Der er ikke oprettet nogen kommende nørde events, opret en ny <a href="#" [routerLink]="'/invite/new'">her</a>
            </div>
        </div>
    </div>
</ng-template>