<h1 mat-dialog-title>Login</h1>
<mat-dialog-content [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>User</mat-label>
    <input matInput formControlName="user" (keyup)="completeOnEnterKey($event)">
  </mat-form-field><br/>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input #password matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="completeOnEnterKey($event)">
    <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <fa-icon [icon]="hide ? 'eye' : 'eye-slash'"></fa-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">{{'button.cancel' | translate}}</button>
  <button type="submit" class="mat-raised-button mat-primary" (click)="login()">Login</button>
</mat-dialog-actions>
