<mat-card class="mat-elevation-z8 nerddetails">
  <mat-card-content>
      <div class="row">
        <div class="col">{{'email' | translate}}</div>
        <div class="col">{{nerd.email}}</div>
      </div>
      <div class="row">
          <div class="col">{{'phone' | translate}}</div>
          <div class="col">{{nerd.phone}}</div>
      </div>
      <div class="row">
        <div class="col rightjustify">
          <a [href]="smsLink(nerd.phone)"><button mat-mini-fab matTooltip="Send sms"><fa-icon icon="sms"></fa-icon></button></a>
          <a href="tel:{{nerd.phone}}"><button mat-mini-fab matTooltip="Ring op"><fa-icon icon="phone"></fa-icon></button></a>
          <a href="mailto:{{nerd.email}}"><button mat-mini-fab matTooltip="Send mail"><fa-icon icon="envelope"></fa-icon></button></a>
          <ng-content></ng-content>
        </div>
      </div>
  </mat-card-content>
</mat-card>
