<div class="container" *ngIf="!(loading$ | async)">
  <div class="row" *ngIf="invite$ | async as invite">
    <div class="col-md-6 invdetails">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Detaljer
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-4">{{'invite.host' | translate}}</div>
            <div class="col-8">{{invite.nerd.name}} 
              <a href="tel:{{invite.nerd.phone}}"><fa-icon icon="phone"></fa-icon> {{invite.nerd.phone}}</a> /
              <a [href]="sms(invite.nerd.phone)"><fa-icon icon="sms"></fa-icon> {{invite.nerd.phone}}</a>
            </div>
            <div class="col-4">{{'invite.nerdsite' | translate}}</div>
            <div class="col-8">
              <a href="http://maps.google.com/maps?daddr={{invite.nerdsite.y}},{{invite.nerdsite.x}}&amp;ll=" target="_blank">
                <fa-icon icon="map-marker"></fa-icon> {{invite.nerdsite.address}}
              </a>
            </div>
            <div class="col-4">{{'invite.date' | translate}}</div>
            <div class="col-8">{{invite.eventstart | date:'dd-MM-yy'}}</div>
            <div class="col-4">{{'invite.starttime' | translate}}</div>
            <div class="col-8">{{invite.eventstart | date:'HH:mm'}}</div>
            <div class="col-4">{{'invite.pizza' | translate}}</div>
            <div class="col-8">
              <ng-container *ngIf="invite.restaurant">
                <a href="tel:{{invite.restaurant.phone}}">
                  <fa-icon icon="phone"></fa-icon> {{invite.restaurant.phone}}
                </a> / 
                <a href="{{invite.restaurant.link}}" target="_blank"><fa-icon icon="pizza-slice"></fa-icon> {{invite.restaurant.name}}</a><br/>
                <a href="http://maps.google.com/maps?daddr={{invite.restaurant.y}},{{invite.restaurant.x}}&amp;ll=" target="_blank">
                  <fa-icon icon="map-marker"></fa-icon> {{invite.restaurant.address}}
                </a>
              </ng-container>
              <ng-container *ngIf="!invite.restaurant">
                {{'invite.hostcooks' | translate}}
              </ng-container>
            </div>
            <div class="col-4">{{'invite.mobilepay' | translate}}</div>
            <div class="col-8" *ngIf="invite.mobilepaynerd">{{invite.mobilepaynerd.phone}} - {{invite.mobilepaynerd.name}}</div>
            <div class="col-8" *ngIf="!invite.mobilepaynerd">{{'invite.nomobilepay' | translate}}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-12">
              <markdown ngPreserveWhitespaces [data]="invite.information">
              </markdown>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
        <ian-action-bar></ian-action-bar>
    </div>
    <div class="col-md-6 invmap" *ngIf="!(isHandset$ | async)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Map</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Kommer senere
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8 invnerds">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Nørder</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ian-answers></ian-answers>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4" *ngIf="!(isHandset$ |async)">
    <ian-stats></ian-stats>
  </div>
</div>
</div>
<button mat-mini-fab (click)="showBottom()" class="showsheet" *ngIf="(isHandset$ | async)"><fa-icon icon="caret-up"></fa-icon></button>

<ian-spinner [isLoading]="loading$|async" infotext="{{'invite.fetchingone'|translate}}"></ian-spinner>
