@import '../../../../styles-variables.scss';

.mat-card {
  margin-top: 5px;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .invdetails,
  .invnerds,
  .invmap {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .invnerds mat-card {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.showsheet {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 10px;
}

.spinner {
  height: 200px;
  width: 200px;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.spinner mat-spinner {
  text-align: center;
}
